# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de base de datos
db.sqlite3

# Archivos compilados de Python
*.pyc
*.pyo
__pycache__/

# Archivos de logs
*.log

# Archivos de configuraciones locales / llaves
.env

# Configuración de IDEs
.vscode/
.idea/
