{% extends "crear.html" %}
{% load widget_tweaks %}

{% block form %}
    {% csrf_token %}

    {% for field in form.visible_fields %}
    <div class="form-group mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}

        {% if field.errors %}
            <div class="invalid-feedback d-block">
                {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}

{% block Cancelar %}
    <button type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-save"></i> Agregar
    </button>
    <a href="{% url 'mi_app:gestionservicio_lista' %}" class="btn btn-danger btn-flat float-right">
        <i class="fas fa-times"></i> Cancelar
    </a>
{% endblock %}
